/src/video
/src/openpose-baseline/data
/src/openpose-baseline/experiments
/src/openpose-baseline/images
/src/video-picker/images
/src/images
/src/output
/src/video-picker/images
/src/openpose/src/images
/src/openpose/src/output
/src/openpose/src/output-images
/src/learning/log
/shell
*.jsonl
*.json
*.mp4
*.deb
*.pdf
*.pyc
.git
