[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
matplotlib = "*"
jsonlines = "*"
scipy = "*"
"h5py" = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
six = "*"
pillow = "*"
tensorflow-gpu = "*"
tensorflow-hub = "*"
opencv-python = "*"
imageio = "*"
numpy-quaternion = "*"
nose = "*"
plotly = "*"
jupyterlab = "*"

[requires]
python_version = "2.7"
