[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
matplotlib = "*"
jsonlines = "*"
scipy = "*"
"h5py" = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
six = "*"
pillow = "*"
tensorflow-gpu = "*"
tensorflow-hub = "*"
opencv-python = "*"
imageio = "*"
"html5lib" = "==0.999999999"

[requires]
python_version = "2.7"
